h4{
  font-family:verdana;
  color:blue;
  text-align:center;
}

h1{
  font-family:verdana;
  color:blue;
  text-align:center;
}

h3{
  font-family:verdana;
  color:blue;
  text-align:center;
}

ul li{
  font-family: verdana;
}
